/*   Main Layout  */
h1.title{
    margin-bottom: 20px;
}

p.instructions{
    font-size: 18px;
}

.borderless td, .borderless th {
    border: none;
}

.breadcrumb-link{
    margin-top: 15px;
    margin-bottom: 18px;
}