/*   Main Layout  */
body.clouds{
    background: #fff url('../img/clouds.png') top right no-repeat; background-attachment:fixed;
}

h1.title{
    margin-bottom: 20px;
}

p.instructions{
    font-size: 18px;
}

.borderless td, .borderless th {
    border: none;
}

.breadcrumb-link{
    margin-top: 15px;
    margin-bottom: 18px;
}

div.header-img{
    padding-left: 0px;
    padding-right: 0px;
}

div.content-background{
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

div.body-nav {
    margin-bottom: 25px;
}

button.large-nav {
    text-align: left;
    font-size: 20px;
}

button.large-nav span {
    margin-right: 15px;
}
