<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WHGScheduler.DataAccess.Properties.Settings.WHGSchedulerConnectionString"
            connectionString="Data Source=tckgvy6y8i.database.windows.net;Initial Catalog=WHGScheduler;User ID=WHGScheduler;Password=s@h3d0!er;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>