<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WHGScheduler.DataAccess.Properties.Settings.WHGSchedulerConnectionString"
            connectionString="Data Source=tcp:whgscheduler.database.windows.net,1433;Persist Security Info=True;User ID=WHGScheduler;Password=s@h3d0!er;"
            providerName="System.Data.SqlClient" />
        <add name="WHGScheduler.DataAccess.Properties.Settings.WHGSchedulerConnectionString1"
            connectionString="Data Source=tcp:whgscheduler.database.windows.net,1433;User ID=WHGScheduler;"
            providerName="System.Data.SqlClient" />
        <add name="WHGScheduler.DataAccess.Properties.Settings.WHGSchedulerConnectionString2"
            connectionString="Data Source=tcp:whgscheduler.database.windows.net,1433;Initial Catalog=WHGScheduler;Persist Security Info=True;User ID=WHGScheduler;Password=s@h3d0!er"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>