@model WHGSchedulerSite.ViewModels.SponsorsViewModel

<div class="row">
    <div class="col-md-12">
        <h1 class="title text-primary">
            <i>Skip the Line at Trade Show<br /><br />Visit with Platinum and Gold Supplier Patners or The WHG Global Village teams at the 2018 WHG Global Conference with a Pre-Booked Appointment.</i>
        </h1>
        <p class="instructions text-muted">
            Why wait to speak with platinum or gold sponsor or a Global village team at the conference trade show when you can schedule a personal appointment? Simply select a supplier partner from the top drop down below, or the Global Village Teams int he second dropdown to view their schedule, then select a time that works for you to secure a guaranteed meeting.
        </p>
        <p class="instructions text-muted">After you select a meeting time and fill out the required information, you will receive a confirmation email with all of the details.</p>
        <p class="instructions text-muted">It’s that easy. If you have any questions, please contact Bert Guy, bert@onyxmeetings.com.</p>
    </div>
</div>

<div class="row body-nav">
    <div class="col-md-12">
        <button id="btn-supplier-partners" class="btn btn-block btn-lg btn-primary large-nav" type="button" data-toggle="collapse" data-target="#supplier-partners">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Platium and Gold Supplier Partners
        </button>
    </div>
</div>

<div class="row collapse" id="supplier-partners">
    @foreach (var sponsor in Model.sponsorList.Where(s => s.type == "Supplier Partners"))
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/assets/img/logos/@sponsor.logoImage" alt="...">
                <div class="caption">
                    <p style="text-align: center">
                        <a href="@Url.Action("Index", "Meetings", new {sponsor = @sponsor.id})" class="btn btn-primary" role="button">Meet</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div class="row body-nav">
    <div class="col-md-12">
        <button id="btn-global-village" class="btn btn-block btn-lg btn-info large-nav" type="button" data-toggle="collapse" data-target="#global-village">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>WHG Global Village
        </button>
    </div>
</div>

<div class="row collapse" id="global-village">
    @foreach (var sponsor in Model.sponsorList.Where(s => s.type == "WHG Global Village"))
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/assets/img/logos/@sponsor.logoImage" alt="...">
                <div class="caption">
                    <p style="text-align: center">
                        <a href="@Url.Action("Index", "Meetings", new {sponsor = @sponsor.id})" class="btn btn-primary" role="button">Meet</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>