@model WHGSchedulerSite.ViewModels.SponsorsViewModel

<div class="row">
    <div class="col-md-12">
        <h1 class="title text-primary">
            <i>Skip the Line at Trade Show<br /><br />Visit with Platinum and Gold Supplier Partners at the 2016 WHG Global Conference with a Pre-Booked Appointment.</i>
        </h1>
        <p class="instructions text-muted">
            Why wait to speak with platinum or gold sponsor at the conference trade show when you can schedule a personal appointment? New for 2016, simply select a supplier partner from the list below to view their schedule, then select a time that works for you to secure a guaranteed meeting.
        </p>
        <p class="instructions text-muted">After you select a meeting time and fill out the required information, you will receive a confirmation email with all of the details.</p>
        <p class="instructions text-muted">It’s that easy. If you have any questions, please contact XYZ.</p>
        <p class="instructions text-muted">See you in Vegas!</p>
    </div>
</div>

<div class="row">
    @foreach (var sponsor in Model.sponsorList)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/assets/img/logos/@sponsor.logoImage" alt="...">
                <div class="caption">
                    <h3>@sponsor.name</h3>
                    <p>
                        <a href="@Url.Action("Index", "Meetings", new {sponsor = @sponsor.id })" class="btn btn-primary" role="button">Meet</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>