@model WHGSchedulerSite.ViewModels.SponsorsViewModel

<div class="row">
    <div class="col-md-12">
        <h1 class="title text-primary">
            Pre-book appointments with Platinum and Gold sponsors
        </h1>
        <p class="instructions text-muted">
            Select a sponsor to view their schedule. Choose a time to meet with them at their booth and fill out the requested information. Once you select a meeting time you will receive an email confirming your appointment.  You may schedule meetings with as many sponsors as you would like.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var sponsor in Model.sponsorList)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/assets/img/logos/@sponsor.logoImage" alt="...">
                <div class="caption">
                    <h3>@sponsor.name</h3>
                    <p>
                        <a href="@Url.Action("Index", "Meetings", new {sponsor = @sponsor.id })" class="btn btn-primary" role="button">Meet</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>