@model WHGSchedulerSite.ViewModels.MeetingsViewModel

<div class="row">
    <div class="col-md-12">
        <div class="media"> 
            <div class="media-left"> 
                <a href="#">
                    <img class="media-object" src="~/assets/img/logos/@Model.sponsor.logoImage"> 
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.sponsor.name</h4> 
                @Model.sponsor.description 
            </div>
        </div>
    </div>
</div>

