@model WHGSchedulerSite.ViewModels.MeetingsViewModel

<div class="row">
    <div class="col-md-12">
        <div class="media"> 
            <div class="media-left"> 
                <a href="#">
                    <img class="media-object" src="~/assets/img/logos/@Model.sponsor.logoImage"> 
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.sponsor.name</h4> 
                @Model.sponsor.description 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="title text-primary">
            SCHEDULE A MEETING
        </h1>
        <p class="instructions">
            Select an open time slot for your meeting
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h1 class="title text-primary">
            DAY 1
        </h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table borderless">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:45 am - 9:00 am</td>
                            <td><button class="btn btn-primary">Available</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

